
@using Admin.Models.DB;

@model object

    <tbody>
        <tr>
            <td>
                <label class="au-checkbox">
                    <input type="checkbox">
                    <span class="au-checkmark"></span>
                </label>
            </td>
            @{ switch (ViewBag.nameTable as string)
                {
                    case "Blog":
                        foreach (Blog it in Model as List<Blog>)
                        {
                            <td>  @it.maBlog </td>
                            <td>  @it.maDD </td>
                            <td>  @it.username </td>
                            <td>  @it.content </td>
                            <td>  @it.pic </td>
                            <td>  @it.note </td>
                        }
                        break;
                }
            }
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                        <i class="zmdi zmdi-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                        <i class="zmdi zmdi-delete"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    