
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    List<Category> cate = ViewBag.cate;
}
@using TravarGo.Models.DB;
@model List<detailService>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Contents/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Places to Travel</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="#">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Service <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    @foreach (detailService item in Model)
                    {
                        <div class="col-md-6 col-lg-6 mb-4 ftco-animate">
                            <a href="#" class="block-5" style="background-image: url('/Contents/images/TourDestination/@item.pic');">
                                <div class="text">
                                    <span class="price">@item.costPerNight $/pernight</span>
                                    <h3 class="heading">@item.tenKS</h3>
                                    <div class="post-meta">
                                        <span>@item.tenDD, @item.tenTinh, @item.tenQG</span>
                                    </div>
                                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>@item.numReview Reviews</span></p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                @for (int i = 2; i < ViewBag.countHS; i++)
                                {
                                    <li><a href="#">@i</a></li>
                                }
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->

            <div class="col-lg-4 sidebar">
                <div class="sidebar-box ftco-animate">
                    <div class="search-tours bg-light p-4">
                        <h3>Find your tour</h3>
                        <form action="" method="post">
                            <div class="fields">
                                <div class="row flex-column">

                                    <div class="textfield-search col-sm-12 group mb-3">
                                        <input type="text" class="form-control" placeholder="Search Location">
                                    </div>
                                    <div class="col-sm-12 group mb-3">
                                        <input type="submit" class="search-submit btn btn-primary" value="Find HomeStay">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Categories</h3>
                        @foreach (Category item in cate)
                        {
                            <li><a href="#">@item.tenDanhMuc <span>(@item.num)</span></a></li>
                        }
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>
        </div>
    </div>
</section>


