@model IEnumerable<Admin.Models.DB.Blog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TourDestination.maTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourDestination.maTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.maBlog }) |
                @Html.ActionLink("Details", "Details", new { id=item.maBlog }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.maBlog })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
